<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConn" connectionString="DataSource=C:\Users\Luis_Eduardo\source\repos\CasaNacionalJudo.App\CasaNacionalJudo.Repository\Db\CasaNacionalDb.db"/>
	</connectionStrings>
	<appSettings>
		<add key="Example" value="000"/>
	</appSettings>
</configuration>