<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConn" connectionString="DataSource=C:\Users\under\source\repos\Jaracara11\CasaNacionalJudo.App\CasaNacionalJudo.Repository\Db\CasaNacionalDb.db"/>
	</connectionStrings>
	<appSettings>
		<add key="CsvPath" value="C:\Users\Luis_Eduardo\Desktop\"/>
	</appSettings>
</configuration>